@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.line-height {
    line-height: 1;
}

.site-header {
    height: 3rem;
    position: relative;
    z-index: 11;
    .header-menu {
        height: 3rem;
        //background-color: $gray-900;
    }
    &.header-transperent {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        background-color: transparent;
        .menu-bar,
        .site-logo {

            a {
                color: $white;
            }
        }
    }
    .site-logo {
        font-size: .5rem;
        a {
            color: $gray-600;
            text-decoration: none;
            font-size: 2rem;
        }
    }
    .menu-bar {
        li {
            display: inline-block;
            a {
                color: $gray-500;
                text-decoration: none;
            }
        }
    }
    .bar-icon {
        display: none;
    }
}

.banner-image {
    @include img-inbg;
    padding-bottom: 40%;
    .transforam-text {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }
}


@include media-breakpoint-down(sm) {
    .site-header {
        &.header-transperent {
            .bar-icon {
                a {
                    color: $white;
                }
            }
        }
        .header-menu {
            z-index: 9;
            background-color: $gray-900;
        }
        .menu-bar {
            position: absolute;
            right: 0;
            top: 0;
            transition: .3s all linear;
            &.top {
                margin-top: 3rem;
                left: 0;
                right: 0;
                @include transform(translateY(-120%));
                z-index: -1;
                background-color: $black; 
            }
            li {
                display: block;
            }
        }
        .bar-icon {
            display: inline-block;
            float: right;
            font-size: 2rem;
            a {
                color: $gray-600;
                text-decoration: none;
            }
        }
    }
    .site-link {
        &.open {
            .menu-bar {
                transform: none;
            }
        }
    }
}