@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
$header-height: 4.9375rem;
$mobile-header-height: 4.9375rem;
$top-bar-height: 2.0625rem;
$mobile-topbar-height: 4.1875rem;
$mobile-sidebar-width: 14rem;

.site-header {
    font-family: "Raleway";
    height: $header-height;
    .hover-links {
        font-size: .8rem;
        @include transition(.3s all linear);

        @include hover-focus-active {
            color: theme-color("primary");
        }
    }

    .top-bar {
        height: $top-bar-height;
        background-color: $gray-900;
        border-bottom: 1px solid lighten($gray-900, 10%);
    }

    .nav-header {
        padding: .735rem 0;
        line-height: 1.5;
        @include shadow(0 .125rem .25rem rgba(0, 0, 0, .075));
        height: $header-height;
    }

    .top-bar-link {
        color: $white;
        text-transform: capitalize;
        border-right: 1px solid lighten($gray-900, 10%);

        &:first-child {
            border-left: 1px solid lighten($gray-900, 10%);
        }
    }

    .header-links {
        position: relative;

        &.link-arrow {
            .links {
                position: relative;

                &:after {
                    content: "\f0d7";
                    font-family: 'Font Awesome 5 Free';
                    color: $gray-600;
                    position: absolute;
                    right: 0;
                    pointer-events: none;
                }
            }
        }
    }

    .links {
        display: inline-block;
        color: $gray-600;
        padding: .657rem 1rem;
    }

    .btn-search {
        @include size(2.5rem);
        font-weight: bold;

    }

    .sub-menu-link {

        a,
        .title {
            color: rgba($white, .7);
            padding: .5rem 1rem;
            display: block;
            white-space: normal;
        }

        .title {
            color: $white;
        }
    }

    .search-item {
        position: relative;
        .function {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 60px;
            width: 200px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            cursor: default;
            background: #292929;
            transition: all 0.3s linear;
            opacity: 0;
            visibility: hidden;

            .search-form {
                padding: 6px 6px;
                display: inline-block;
                width: 100%;
                line-height: 37px;
            }
        }

        &:hover {
            .function {
                opacity: 1;
                visibility: visible;
                transform: translate3d(0, 0px, 0);
            }
        }
    }


    &.header-transparent {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 11;

        .nav-header {
            box-shadow: none;

            .header-nav {
                position: relative;
            }
        }

        .top-bar {
            background-color: transparent;
            border-bottom-color: rgba($white, .5);
        }

        .links {
            color: $white;
        }

        .header-links {
            &.link-arrow {
                .links {
                    &:after {
                        color: $white;
                    }
                }
            }
        }

        .btn-search {
            border-color: $white;
            color: $white;

            &:hover {
                .function {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0px, 0);
                }
            }
        }

        .function {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 60px;
            width: 200px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            cursor: default;
            background: #292929;
            transition: all 0.3s linear;
            opacity: 0;
            visibility: hidden;

            .search-form {
                padding: 6px 6px;
                display: inline-block;
                width: 100%;
                line-height: 37px;
            }
        }

        .menu-toggle {
            color: $white;
        }

        .top-bar-link {
            border-right-color: rgba($white, .5);

            &:first-child {
                border-left-color: rgba($white, .5);
            }
        }
    }

    .header-bar {
        height: $header-height;
    }

    &.fixed-header {
        .header-bar {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 99;
            background-color: $white;
        }
    }
}

@include media-breakpoint-up(lg) {
    .site-header {
        .sub-menu {
            position: absolute;
            right: 0;
            background-color: $gray-900;
            min-width: 10rem;
            padding: .5rem 0;
            @include transform (translate(0, 10px));
            opacity: 0;
            visibility: hidden;
            @include transition(.3s all);
            z-index: 99;
            white-space: nowrap;

            .menu-col {
                width: 12rem;
                display: inline-block;
                vertical-align: top;
            }
        }

        .header-links {
            &:hover {
                .sub-menu {
                    @include transform (translate(0, 0));
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .site-header {
        height: $mobile-header-height;

        &.fixed-header {
            .header-bar {
                height: $mobile-header-height;
            }
        }

        .top-bar {
            height: $mobile-topbar-height;
        }

        .top-bar-bottom-line {
            border-bottom: 1px solid lighten($gray-900, 10%);
        }

        .header-container {
            max-width: 100%;
        }

        .menu-toggle {
            font-size: 2rem;
            color: $gray-600;
        }

        .mobile-menu {
            position: fixed;
            right: 0;
            background-color: $gray-900;
            top: 0;
            bottom: 0;
            height: 100%;
            width: $mobile-sidebar-width;
            z-index: 99;
            overflow-y: auto;
            margin-right: -$mobile-sidebar-width;
            @include transition(.3s all linear);

            &.open {
                margin-right: 0;
            }
        }

        .links {
            color: $white;
        }

        .sub-menu {
            max-height: 0;
            overflow: hidden;
            @include transition(all .4s ease);
            opacity: 0;
        }

        .header-links {
            &.link-arrow {
                .links {
                    display: block;

                    &:after {
                        color: $white;
                        margin-right: 1rem;
                    }
                }
            }

            &.active {
                .sub-menu {
                    max-height: 385px;
                    opacity: 1;
                    overflow-y: auto;
                }
            }
        }

        .mobile-menu-overlay {
            position: fixed;
            left: 0;
            right: 0;
            background-color: rgba($gray-600, .5);
            top: 0;
            bottom: 0;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            z-index: 11;
            @include transition(.3s all linear);

            &.open {
                opacity: 1;
                visibility: visible;
            }
        }

        &.header-transparent {
            .top-bar-bottom-line {
                border-bottom-color: rgba($white, .5);
            }
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

.banner {
    line-height: 0;
}

.banner-img {
    @include img-inbg;
    padding-bottom: 20%;
    min-height: 200px;
    background-color: $gray-200;
    line-height: 1.5;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba($black, .5);
    }
}