.site-header {
  font-family: "Raleway";
  height: 4.9375rem; }
  .site-header .site-logo .logo-text {
    color: #26ade4;
    font-size: 2rem;
    line-height: 1.8; }
  .site-header .hover-links {
    font-size: .8rem;
    -moz-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear; }
    .site-header .hover-links:hover, .site-header .hover-links:focus, .site-header .hover-links:active {
      color: #26ade4; }
  .site-header .top-bar {
    height: 2.0625rem;
    background-color: #212529;
    border-bottom: 1px solid #383f45; }
  .site-header .nav-header {
    padding: .735rem 0;
    line-height: 1.5;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    height: 4.9375rem; }
  .site-header .top-bar-link {
    color: #fff;
    text-transform: capitalize;
    border-right: 1px solid #383f45; }
    .site-header .top-bar-link:first-child {
      border-left: 1px solid #383f45; }
  .site-header .logo-icon-b,
  .site-header .logo-icon-w {
    height: 4rem; }
  .site-header .header-links {
    position: relative; }
    .site-header .header-links.link-arrow .links {
      position: relative; }
      .site-header .header-links.link-arrow .links:after {
        content: "\f0d7";
        font-family: 'Font Awesome 5 Free';
        color: #6c757d;
        position: absolute;
        right: 0;
        pointer-events: none; }
  .site-header .links {
    display: inline-block;
    color: #6c757d;
    padding: .657rem 1rem; }
  .site-header .btn-search {
    width: 2.5rem;
    height: 2.5rem;
    font-weight: bold; }
  .site-header .sub-menu-link a,
  .site-header .sub-menu-link .title {
    color: rgba(255, 255, 255, 0.7);
    padding: .5rem 1rem;
    display: block;
    white-space: normal; }
  .site-header .sub-menu-link .title {
    color: #fff; }
  .site-header .search-item {
    position: relative; }
    .site-header .search-item .function {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 60px;
      width: 200px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      cursor: default;
      background: #26ade4;
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden; }
      .site-header .search-item .function .search-form {
        padding: 6px 6px;
        display: inline-block;
        width: 100%;
        line-height: 37px; }
    .site-header .search-item:hover .function {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0px, 0); }
  .site-header.header-transparent {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11; }
    .site-header.header-transparent .nav-header {
      box-shadow: none; }
      .site-header.header-transparent .nav-header .header-nav {
        position: relative; }
    .site-header.header-transparent .top-bar {
      background-color: transparent;
      border-bottom-color: rgba(255, 255, 255, 0.5); }
    .site-header.header-transparent .links {
      color: #fff; }
    .site-header.header-transparent .header-links.link-arrow .links:after {
      color: #fff; }
    .site-header.header-transparent .btn-search {
      border-color: #fff;
      color: #fff; }
      .site-header.header-transparent .btn-search:hover .function {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0px, 0); }
    .site-header.header-transparent .function {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 60px;
      width: 200px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      cursor: default;
      background: #26ade4;
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden; }
      .site-header.header-transparent .function .search-form {
        padding: 6px 6px;
        display: inline-block;
        width: 100%;
        line-height: 37px; }
      .site-header.header-transparent .function .input-text {
        background: #f5f5f5;
        border: none;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border-radius: 0;
        font-size: 14px; }
    .site-header.header-transparent .menu-toggle {
      color: #fff; }
    .site-header.header-transparent .top-bar-link {
      border-right-color: rgba(255, 255, 255, 0.5); }
      .site-header.header-transparent .top-bar-link:first-child {
        border-left-color: rgba(255, 255, 255, 0.5); }
    .site-header.header-transparent .logo-icon-b {
      display: none; }
  .site-header .header-bar {
    height: 4.9375rem; }
  .site-header.fixed-header .header-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #fff; }

@media (min-width: 992px) {
  .site-header .sub-menu {
    position: absolute;
    right: 0;
    background-color: #212529;
    min-width: 10rem;
    padding: .5rem 0;
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
    visibility: hidden;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 99;
    white-space: nowrap; }
    .site-header .sub-menu .menu-col {
      width: 12rem;
      display: inline-block;
      vertical-align: top; }
  .site-header .header-links:hover .sub-menu {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible; } }
@media (max-width: 991.98px) {
  .site-header {
    height: 4.9375rem; }
    .site-header.fixed-header .header-bar {
      height: 4.9375rem; }
    .site-header .top-bar {
      height: 4.1875rem; }
    .site-header .top-bar-bottom-line {
      border-bottom: 1px solid #383f45; }
    .site-header .header-container {
      max-width: 100%; }
    .site-header .menu-toggle {
      font-size: 2rem;
      color: #6c757d; }
    .site-header .mobile-menu {
      position: fixed;
      right: 0;
      background-color: #212529;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 14rem;
      z-index: 99;
      overflow-y: auto;
      margin-right: -14rem;
      -moz-transition: 0.3s all linear;
      -o-transition: 0.3s all linear;
      -webkit-transition: 0.3s all linear;
      transition: 0.3s all linear; }
      .site-header .mobile-menu.open {
        margin-right: 0; }
    .site-header .links {
      color: #fff; }
    .site-header .sub-menu {
      max-height: 0;
      overflow: hidden;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      opacity: 0; }
    .site-header .header-links.link-arrow .links {
      display: block; }
      .site-header .header-links.link-arrow .links:after {
        color: #fff;
        margin-right: 1rem; }
    .site-header .header-links.active .sub-menu {
      max-height: 385px;
      opacity: 1;
      overflow-y: auto; }
    .site-header .mobile-menu-overlay {
      position: fixed;
      left: 0;
      right: 0;
      background-color: rgba(108, 117, 125, 0.5);
      top: 0;
      bottom: 0;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      z-index: 11;
      -moz-transition: 0.3s all linear;
      -o-transition: 0.3s all linear;
      -webkit-transition: 0.3s all linear;
      transition: 0.3s all linear; }
      .site-header .mobile-menu-overlay.open {
        opacity: 1;
        visibility: visible; }
    .site-header.header-transparent .top-bar-bottom-line {
      border-bottom-color: rgba(255, 255, 255, 0.5); } }
@media (max-width: 767.98px) {
  .site-header .search-item .function {
    margin-top: 40px; }
  .site-header .search-item:hover .function {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0); } }
.overflow-hidden {
  overflow: hidden; }

.banner {
  line-height: 0; }

.banner-img {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  display: inline-block;
  padding-bottom: 20%;
  min-height: 200px;
  background-color: #e9ecef;
  line-height: 1.5; }
  .banner-img:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=nav-bar.css.map */
