@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
body {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.line-height {
    line-height: 1;
}

.nav-utility {
    line-height: 43px;
    overflow: hidden;
    .navigation,
    .mail {
        font-size: .8rem;
    }
}

.site-header {
    height: 3rem;
    position: relative;
    z-index: 11;
    border-top: 1px solid $gray-300;
    .header-menu {
        height: 3rem;
         //background-color: $gray-900;
        border-bottom: 1px solid $gray-300;
    }
    &.header-transperent {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        background-color: transparent;
        .menu-bar,
        .site-logo {
            line-height: 1;
            a {
                color: $white;
            }
        }
    }
    .site-logo {
        a {
            color: $gray-600;
            text-decoration: none;
            font-size: 2rem;
        }
    }
    .menu-bar {
        li {
            display: inline-block;
            a {
                color: $gray-500;
                text-decoration: none;
                font-size: .75rem;
            }
            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0px, 0);
                }
            }
        }
        .sub-menu {
            width: auto;
            white-space: nowrap;
            line-height: 24px;
            background: $gray-900;
            position: absolute;
            z-index: 99;
            opacity: 0;
            transition: all 0.3s ease;
            transform: translate3d(0, 10px, 0);
            visibility: hidden;
            margin-top: 16px;
            ul {
                li {
                    display: block;
                    width: 150px;
                }
            }
        }
    }
    .bar-icon {
        display: none;
    }
    .search-icon {
        border-left: 1px solid $gray-800;
        height: 48px;
        .text {
            font-size: .75px;
        }
        .search {
            font-size: 20px;
            opacity: .5;
            transition: all 0.3s ease;
        }
    }
}

.banner-image {
    @include img-inbg;
    padding-bottom: 40%;
    .transforam-text {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }
}


@include media-breakpoint-down(md) {
    .site-header {
        &.header-transperent {
            .bar-icon {
                a {
                    color: $white;
                }
            }
        }
        .header-menu {
            z-index: 9;
            background-color: $white;
        }

        .menu-bar {
            position: absolute;
            right: 0;
            top: 0;
            transition: .3s all linear;
            &.top {
                margin-top: 3rem;
                left: 0;
                right: 0;
                @include transform(translateY(-200%));
                z-index: -1;
                background-color: $black;
            }
            li {
                display: block;
            }
        }
        .bar-icon {
            display: inline-block;
            float: right;
            font-size: 2rem;
            a {
                color: $gray-600;
                text-decoration: none;
            }
        }
        .search-icon {
            display: none;
        }
    }
    .nav-utility {
        z-index: 9;
        background-color: $white;
        overflow: hidden;
    }
    .site-link {
        &.open {
            .menu-bar {
                transform: none;
            }
        }
    }
}