@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

$gray-light: #666;
$gray-lighten: #f5f5f5;
body {
    color: $gray-light;
}

.typrography {
    .title {
        letter-spacing: 3px;
    }
    .heading-1 {
        letter-spacing: 17px;
    }
    .heading-2 {
        letter-spacing: 10px;
    }
    .heading-3 {
        letter-spacing: 6px;
    }
    .heading-4 {
        letter-spacing: 3px;
    }
    .heading-5 {
        letter-spacing: 2px;
    }
    .heading-6 {
        letter-spacing: 2px;
    }
    .m-width {
        max-width: 47.5rem;
    }
    .lead {
        font-size: 1rem;
    }
    .pre {
        font-size: 13px;
        line-height: 24px;
    }
    .block-section {
        background-color: $gray-lighten;
        border-left: 5px solid $gray-200;
        .block {
            font-size: 20px;
            line-height: 40px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .typrography {
        .title,
        .heading-4,
        h4 {
            font-size: 18px;
        }
        h1 {
            font-size: 2rem;
        }
        h3,
        .heading-3 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1rem;
        }
        h6,
        .heading-6 {
            font-size: 12px;
        }
        .heading-1,
        .heading-2 {
            font-size: 2rem;
        }
        .lead {
            font-size: 13px;
        }
        .pre {
            font-size: 12px;
        }
        .block-section {
            .block {
                font-size: 1rem;
            }
        }
    }
}