@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.gallery-section {
    overflow: hidden;
    .gallery-box {
        position: relative;
        overflow: hidden;
        float: left;
        margin-bottom: 1rem;
        width: 100%;
        /*  &:before {
            background-color: rgba($black, .3);
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s all linear);
            cursor: pointer;
        } */
        /* .title,
        .name {
            opacity: 0;
        }
        .title {
            @include transform(translateY(50px));
            @include transition(opacity .35s, transform .35s);
        }
        .name {
            @include transform(translateY(60px));
            @include transition(opacity .6s, transform .6s);
        } */
        /* &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
                transform: rotate(15deg) scale(1.5);
                transition-timing-function: ease-out;
                transition-duration: 250ms;
            }
            .title,
            .name {
                @include transform(translateY(0));
                opacity: 1;
            }
        } */
    }
    /* .content {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
    } */
    .gutter-sizer {
        width: 1rem;
    }
}

@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.bg-black {
    background-color: $black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $black;
}

.modal-content {
    position: relative;
    background-color: $light;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}


/* The Close Button */

.close {
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 35px;
    font-size: 35px;
    &:hover,
    &:focus {
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }
}

.mySlides {
    display: none;
    width: auto;
    max-width: 100%;
    height: auto;
    line-height: 0;
    box-sizing: border-box;
   // padding: 40px 0px;
    margin: 0px auto;
}

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: $white!important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.next {
    right: 0;
}


/* Number text (1/3 etc) */

.numbertext {
    color: $light;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    background-color: $black;
    padding: 2px 16px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo {
    &:hover {
        opacity: 1;
    }
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow {
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@include media-breakpoint-up(lg) {
    .gallery-section {
        .gallery-box {
            width: calc(25% - .75rem);
        }
    }
}

@include media-breakpoint-only(md) {
    .gallery-section {
        .gallery-box {
            width: calc(33.333% - .65rem);
        }
    }
}

@include media-breakpoint-only(sm) {
    .gallery-section {
        .gallery-box {
            width: calc(50% - .5rem);
        }
    }
}

//filtering css

/* ---- button ---- */

.button {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
    color: #222;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
    &:hover {
        background-color: #8CF;
        text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
        color: #222;
    }
    &:active {
        background-color: #28F;
    }
    &.is-checked {
        background-color: #28F;
        color: white;
        text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
    }
    &:active {
        box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
    }
}





/* ---- button-group ---- */

.button-group {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .button {
        float: left;
        border-radius: 0;
        margin-left: 0;
        margin-right: 1px;
        &:first-child {
            border-radius: 0.5em 0 0 0.5em;
        }
        &:last-child {
            border-radius: 0 0.5em 0.5em 0;
        }
    }
}

.custom-btn {
    &.active {
        background-color: #28F;
        color: white;
        text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
    }
}





/* ---- isotope ---- */


/* .grid {
    border: 1px solid #333;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
} */

.grid-overflow {
    overflow: hidden;
}




/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    /*  width: 100px;
  height: 100px; */
    /*  margin: 5px;
  padding: 10px; */
    //background: #888;
    color: #262524;
    >* {
        margin: 0;
        padding: 0;
    }
}