@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.gallery-section {
    overflow-y: hidden;
    .gallery-box {
        position: relative;
        overflow: hidden;
        float: left; 
        margin-bottom: 1rem;
        width: 100%;
       /*  &:before {
            background-color: rgba($white, .75);
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s all linear);
            cursor: pointer;
        } */
        /* .title,
        .name {
            opacity: 0;
        }
        .title {
            @include transform(translateY(50px));
            @include transition(opacity .35s, transform .35s);
        }
        .name {
            @include transform(translateY(60px));
            @include transition(opacity .6s, transform .6s);
        }
        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
            .title,
            .name {
                @include transform(translateY(0));
                opacity: 1;
            }
        } */
    }
    /* .content {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
    } */
    .gutter-sizer {
        width: 1rem;
    }
}

@include media-breakpoint-up(lg) {
    .gallery-section {
        .gallery-box{
            width: calc(25% - .75rem);
        }
    }
}

@include media-breakpoint-only(md) {
    .gallery-section {
        .gallery-box {
            width: calc(33.333% - .65rem);
        }
    }
}

@include media-breakpoint-only(sm) {
.gallery-section {
        .gallery-box{
            width: calc(50% - .5rem);
        }
    }
}
