@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

$light-gray: #f7f7f7;

.theme-home-page {
    .banner-content {
        .banner-section {
            line-height: 0;
            .home-title {
                font-size: calc(2rem + 1vw);
                line-height: 1.3;
            }
        }
        .home-banner-text {
            position: absolute;
            top: 50%;
            @include transform(translate(-50%, -50%));
            left: 50%;
            line-height: 1.5;
            z-index: 1;
            .sub-title {
                font-size: .875rem;
            }
            .banner-desc {
                max-width: 26.25rem;
                font-size: 1.2rem;
            }
        }
    }
    .features-section {
        .features-title {
            font-size: 2rem;
        }
        .social-icon {
            font-size: 1.8rem;
        }
        .features-desc {
            color: $gray-600;
            font-size: .875rem;
        }
    }
    .slider-section {
        background-color: $light-gray;
        .slider-title {
            font-size: 1.5rem;
        }
        .slider-desc {
            max-width: 30.625rem;
            color: $gray-600;
        }
        .img-bg {
            @include img-inbg;
            padding-bottom: 100%;
            background-size: contain;
            width: 400px;
        }
    }
    .Parallax-section {
        .testimonial {
            position: relative;
            line-height: 0;
        }
        .Parallax-desc {
            max-width: 810px;
        }
    }
}





