@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.gallery-img,
.thumbs-img {
    @include img-inbg;
    padding-bottom: 100%;
}

.gallery-big-img {
    padding-bottom: 45%;
}

.thumbs-img {
    width: 25%;
    padding-bottom: 15%;
}

.hover-effect {
    position: relative;
    &:before {
        content: "";
        background-color: rgba($black, .3);
        height: 100%;
        left: 50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        @include transition(.5s all ease);
        width: 0;
    }
    &:after {
        content: "\e62d";
        font-family: "themify";
        bottom: 0px;
        box-shadow: rgba(246, 249, 250, 0.419608) 0px 0px 0px 8px;
        color: $white;
        @include size(2.5rem);
        display: inline-block;
        font-size: 1.5rem;
        left: 0px;
        line-height: 2.5rem;
        opacity: 0;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 0px;
        @include transform(scale(3));
        visibility: hidden;
        z-index: 2;
        background: none 0px 0px repeat scroll rgba(255, 255, 255, 0.298039);
        border-radius: 100%;
        margin: auto;
        @include transition (.5s all ease);
    }
}

.img-block {
    &:hover {
        .hover-effect {
            &:before {
                left: 0;
                opacity: 1;
                width: 100%;
            }
            &:after {
                opacity: 1;
                @include transform(scale(1));
                visibility: visible;
            }
        }
    }
}

.gnext,
.gprev {
    top: 45% !important;
}
.gnext {
    right: 0 !important;
}
.gprev {
    left: 0 !important;
}
