@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.h-100vh {
    height: 100vh;
}

.banner {
    &.img {
        padding-bottom: 40%;
    }
    @include img-inbg;
    &:before {
        content: '';
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

