@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.subscribe-form {
    max-width: 600px;
}

.footer-links {
    color: $white;
    font-size: .875rem;
    @include transition(.3s all linear);
    @include hover-focus-active {
        color: theme-color("priamry");
    }
}

.img-box {
    width: 4rem;
}

.news-thumb-img {
    @include size(4rem);
}

.tags {
    .tag-btn {
        font-size: .8rem;
        text-transform: capitalize;
    }
}
.social-section {
    .social-icon {
        font-size: 1.5rem;
    }
}
.copy-right {
    color: rgba($white,.6);
    font-size: .875rem;
    font-weight: 200;
}
.footer-bottom {
    border-top: 1px solid rgba($white,.2)
}

