@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.banner {
    position: relative;
    .banner-img {
        min-height: 600px;
        &.h-100vh {
            min-height: 100vh;
        }
    }
    .banner-content {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        top: 0;
        bottom: 0;
        line-height: 1.5;
        .center-content {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            left: 0;
            right: 0;
            text-align: center;
            z-index: 1;
        }
        .inst {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}

.off-white {
    color: rgba($white, .5);
}

.find-section {
    background-color: $gray-900;
}
.btn-next,
.btn-prev {
    width: 20px;
    height: 24px;
    background-size: 20px 24px;
    background-color: theme-color("primary");
    padding: 1.5rem 1.5rem;
    &.swiper-button-disabled {
        background-color: rgba($white, .2);
    }
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.offer-slider {
    .card-bg {
        background-color: $gray-200;
    }
    .card {
        border: 3px solid $gray-200;
        cursor: inherit;
    }
    .swiper-slide {
        width: 18.75rem;
    }
    .swiper-slide-active {
        .card {
            border-color: theme-color("primary");
        }
        .card-bg {
            background-color: $gray-900;
        }
        .card-title {
            color: $white;
        }
        .card-text {
            color: rgba($white, .7);
        }
    }
}

.parallax-banner {
    .banner-img {
        min-height: 500px;
        background-attachment: fixed;
    }
    .name {
        color: $white;
        @include transition(.3s all linear);
    }
    .circle-icon {
        @include size(7rem);
        border: 3px solid $white;
        @include transition(.3s all linear);
        cursor: pointer;
        .icon {
            font-size: 2rem;
            color: $white;
            @include transition(.3s all linear);
        }
    }
    .type {
        &:hover {
            .circle-icon {
                border-color: theme-color("primary");
            }
            .icon,
            .name {
                color: theme-color("primary");
            }
        }
    }
}

.testimonial-slider {
    .swiper-slide {
        width: 25rem;
        opacity: .5;
    }
    .swiper-slide-active {
        opacity: 1;
    }
}

@include media-breakpoint-up(lg) {
    .find-section {
        margin-top: -5.5rem;
        position: relative;
        z-index: 11;
        &.in-container {
            max-width: 1280px;
            margin: -2.75rem auto 0 auto;
        }
    }
}

@include media-breakpoint-up(md) {
    .find-section {
        .border-line {
            position: relative;
            border-right: 1px solid rgba($white, .5);
            &:before,
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-top: .5rem solid transparent;
                border-bottom: .5rem solid transparent;
                border-left: .5rem solid $gray-900;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -.5rem;
            }
            &:after {
                margin-right: -.4375rem;
            }
            &:before {
                border-left-color: rgba($white, .5);
                margin-right: -.5rem;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .banner {
        .banner-content {
            .inst {
                font-size: 1.2rem;
            }
        }
    }
    .border-line {
        border-bottom: 1px solid rgba($white, .5);
    }
    .offer-slider {
        .swiper-slide {
            width: 14rem;
        }
    }
    .testimonial-slider {
        .swiper-slide {
            width: 20rem;
        }
    }
    .parallax-banner {
        .banner-img {
            min-height: 700px;
        }
    }
}
