@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
@mixin item-in-center {
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin flex-space-between {
    @include flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    &.img {
        padding-bottom: 20%;
        min-height: 250px;
        &:before {
            content: '';
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
    &.service-img {
        padding-bottom: 40%;
        min-height: 300px;
    }
    @include img-inbg;
    background-attachment: fixed;
}

.service-box {
    background: rgba(34, 34, 34, 0.4);
}


.banner-content {
    position: absolute;
    top: 50%;
    @include transform(translate(0, -50%));
    width: 100%;
}

.items {
    background-color: transparent;
    /* color:$white; */
    .slash-icon {
        &:before {
            color: $white;
        }
    }
}

.icon {
    font-size: 4rem;
}

.box {
    background-color: rgba($blue, .7);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    .box-icon {
        font-size: 2rem;
    }
}

.box-desc {
    font-size: .875rem;
}

.img-video {
    line-height: 0;
    .bg-line-height {
        line-height: 1.5;
    }
}

.pricing-box {
    background-color: $white;
    text-align: left;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .075);
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    .pricing-title {
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }
}

.pricing-action-area {
    border-left: 1px solid rgba(0, 0, 0, .05);
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 0 3px 3px 0;
    text-align: center;
    height: 100%;
    .pricing-meta {
        color: #999;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    .pricing-price {
        padding: 25px 0;
        color: #333;
        font-weight: 300;
        font-size: 64px;
        line-height: 1;
        span {
            vertical-align: top;
            margin: 7px 3px 0 0;
            font-size: 28px;
            font-weight: 400;
        }
    }
}

@include media-breakpoint-down(lg) {
    .pricing-action-area {
        border-top: 1px solid rgba(0, 0, 0, .05);
        border-radius: 0 3px 3px 0;
        border-left: none;
    }
}