@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
@mixin item-in-center {
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin flex-space-between {
    @include flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    &.img {
        padding-bottom: 20%;
        min-height: 250px;
        &:before {
            content: '';
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
    &.service-img {
        padding-bottom: 40%;
        min-height: 300px;
    }
    @include img-inbg;
    background-attachment: fixed;
}

.service-box {
    background: rgba(34, 34, 34, 0.4);
}


.banner-content {
    position: absolute;
    top: 50%;
    @include transform(translate(0, -50%));
    width: 100%;
}

.items {
    background-color: transparent;
    /* color:$white; */
    .slash-icon {
        &:before {
            color: $white;
        }
    }
}

.icon {
    font-size: 4rem;
}