    @import "../../../css/scss/functions";
    @import "../../../css/scss/variables";
    @import "../../../css/scss/mixins";
    .ribbon {
        li {
            height: 50px;
            line-height: 50px;
            width: 150px;
            background: orange;
            font-size: 18px;
            text-align: center;
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                border-left: 25px solid transparent;
                border-top: 25px solid orange;
                border-bottom: 25px solid orange;
                border-right: 0;
                position: absolute;
                left: -25px;
            }
            &:after {
                content: '';
                border-left: 25px solid orange;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-right: 0;
                position: absolute;
                right: -25px;
            }
            &:hover {
                background: tomato;
                &:before {
                    border-left: 25px solid transparent;
                    border-top: 25px solid tomato;
                    border-bottom: 25px solid tomato;
                }
                &:after {
                    border-left: 25px solid tomato;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                }
            }
            &.active {
                background: tomato;
                &:before {
                    border-left: 25px solid transparent;
                    border-top: 25px solid tomato;
                    border-bottom: 25px solid tomato;
                }
                &:after {
                    border-left: 25px solid tomato;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                }
            }
        }
    }