@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.btn-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 1rem;
    font-size:1.5rem;
    @include transition(all .3s linear);
    &:hover,
     :focus {
        color: $black;
        text-decoration: none;
        opacity: .75;
        outline: 0;
    }
}
.custom-alert {
    position: relative;
    .alert-heading {
        background-color: rgba($black, .15);
    }
}

.alert-left-border {
    border-left: 4px solid rgba($black, .2);
}




