@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.custom-style {
    .transparent-box {
        &:focus {
            box-shadow: none;
        }
        &.transparent-box-1 {
            border: 0;
            border-bottom: 1px solid $blue;
            &:focus {
                border-bottom: 2px solid $purple;
            }
        }
        &.transparent-box-2 {
            &:focus {
                border-color: $red;
            }
        }
        &.transparent-box-3 {
            border: 0;
            &:focus {
                border-bottom: 2px solid $purple;
            }
        }
        &.transparent-box-4 {
            border: 2px solid $gray-400;
            &:focus {
                border-color: $green;
            }
        }
    }
    .custom-input {
        position: relative;
        label {
            font-size: .875em;
        }
    }
    .bar {
        position: relative;
        &:after,
        &:before {
            @include transition(all .3s ease);
            content: '';
            height: 1px;
            width: 0;
            bottom: 1px;
            position: absolute;
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
        &.bar-1 {
            &:after,
            &:before {
                background-color: $blue;
            }
        }
    }
    .input-effect {
        &:focus {
            box-shadow: none!important;
        }
        ~label {
            @include transition(all .3s ease);
            position: absolute;
            left: 0;
            top: 10px;
            color: $gray-600;
            pointer-events: none;
        }
        &:focus~label,
        &:not(:placeholder-shown)~label {
            @include transition(all .3s ease);
            font-weight: bold;
        }
        &:focus~.bar,
        &:not(:placeholder-shown)~.bar {
            &:before,
            &:after {
                width: 50%;
            }
        }
        &.input-effect-1 {
            &:focus {
                border-color: $blue;
            }
            &:focus~label,
            &:not(:placeholder-shown)~label {
                top: -15px;
                color: $blue;
            }
        }
        &.input-effect-2 {
            &:focus {
                border-color: $red;
            }
            &:focus~label,
            &:not(:placeholder-shown)~label {
                top: -30px;
                color: $red;
            }
        }
        &.input-effect-3 {
            &:focus {
                border-color: $purple;
            }
            &:focus~label,
            &:not(:placeholder-shown)~label {
                top: -15px;
                color: $purple;
                .icon-right {
                    opacity: 0;
                }
            }
        }
        &.input-effect-4 {
            &:focus {
                border-color: $green;
            }
            &:focus~label,
            &:not(:placeholder-shown)~label {
                color: $green;
                transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
                .text-name {
                    opacity: 0;
                    transform: translate3d(100px 0 0);
                }
                .icon {
                    @include transition(all .3s ease);
                    opacity: 1;
                }
            }
        }
    }
    .icon {
        position: absolute;
        left: 0;
        margin-left: 1em;
        opacity: 0;
        font-size: 1.5em;
        @include transition(all .3s ease);
    }

    .icon-right {
        position: absolute;
        right: 0;
        margin-right: 1em;
        opacity: 1;
        @include transition(all .3s ease);
    }
}

.border-radius-20 {
    border-radius: 20px;
}

.border-box {
    border: 2px solid $gray-400;
}