@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
// .custom-style {
//     .transparent-box {
//         &:focus {
//             box-shadow: none;
//         }
//         &.transparent-box-1 {
//             border: 0;
//             border-bottom: 1px solid;
//             /* &:focus {
//                 border-bottom: 2px solid;
//             } */
//         }
//         &.transparent-box-2 {
//             &:focus {
//                 border: 2px solid;
//             }
//         }
//         &.transparent-box-3 {
//             border: 0;
//             &:focus {
//                 border-bottom: 2px solid;
//             }
//         }
//         &.transparent-box-4 {
//             &:focus {
//                 border: 2px solid;
//             }
//         }
//     }
//     .custom-input {
//         position: relative;
//         label {
//             font-size: .875em;
//         }
//     }
//     .bar {
//         position: relative;
//         display:block;
//         width:100%;
//         &:after,
//         &:before {
//             @include transition(all .3s ease);
//             content: '';
//             height: 1px;
//             width: 0;
//             bottom: 1px;
//             position: absolute;
//         }
//         &:before {
//             left: 50%;
//         }
//         &:after {
//             right: 50%;
//         }
//     }
//     .input-effect {
//         &:focus {
//             box-shadow: none!important;
//         }
//         ~label {
//             @include transition(all .3s linear);
//             position: absolute;
//             left: 0;
//             top: 10px;
//             color: $gray-600;
//             pointer-events: none;
//         }
//         &:focus~label,
//         &:not(:placeholder-shown)~label {
//             @include transition(all .3s linear);
//             font-weight: bold;
//         }
//         &:focus~.bar,
//         &:not(:placeholder-shown)~.bar {
//             &:before,
//             &:after {
//                 width: 50%;
//             }
//         }
//         &.input-effect-1 {
//             &:focus~label,
//             &:not(:placeholder-shown)~label {
//                 top: -15px;
//             }
//         }
//         &.input-effect-2 {
//             &:focus~label,
//             &:not(:placeholder-shown)~label {
//                 top: -30px;
//             }
//         }
//         &.input-effect-3 {
//             &:focus {
//                 border-bottom: 1px solid;
//             }
//             ~label {
//                 position: static;
//             }
//             ~label span {
//                 @include transition(all .3s linear);
//                 position: absolute;
//                 left: 0;
//                 top: 10px;
//                 pointer-events: none;
//                 line-height: 1.3;
//             }
//             &:focus~label,
//             &:not(:placeholder-shown)~label {
//                 .icon-right {
//                     opacity: 0;
//                     transform: translateX(-500px);
//                     @include transition(all .5s linear); //transition-delay: .3s;
//                 }
//                 span {
//                     top: -15px;
//                 }
//             }
//         }
//         &.input-effect-4 {
//             &:focus~label,
//             &:not(:placeholder-shown)~label {
//                 .text-name {
//                     opacity: 0;
//                     transform: translateX(5em);
//                 }
//                 .icon {
//                     @include transition(all .3s linear);
//                     margin-left: 1em;
//                 }
//             }
//         }
//     }
//     .icon {
//         position: absolute;
//         left: 0;
//         margin-left: -2em;
//         font-size: 1.5em;
//         @include transition(all .3s linear);
//     }
//     .text-name {
//         width: auto;
//         @include transition(all .3s linear);
//     }
//     .icon-right {
//         position: absolute;
//         right: 0;
//         margin-right: 1em;
//         opacity: 1;
//         bottom: 0;
//         margin-bottom: 30px;
//         @include transition(all .3s linear);
//     }
//     &.icon-effect {
//         overflow: hidden;
//     }
// }
// .input-rounded {
//     border-radius: 20px;
// }
// .border-box {
//     border: 2px solid;
// }
// @mixin focus-color($active-color: $color) {
//     &:focus~label,
//     &:not(:placeholder-shown)~label {
//         color: $active-color;
//     }
//     ~.bar {
//         &:before,
//         &:after{
//             background-color: $active-color;
//         }
//     }
// }
// @each $color,
// $value in $theme-colors {
//     .border-#{$color} {
//         @include focus-color($value);
//     }
// }
// add new
.input-effect {
    position: relative;
    input {
        width: 100%;
        &:focus {
            outline: 0;
        }
    }

    label {
        font-size: .875rem;
    }
    .effect {
        border: 0;
        padding: .25rem 0;
        border-bottom: 1px solid $gray-300;
        background-color: transparent;
        ~.focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $blue;
            @include transition(.4s);
        }
        ~label {
            position: absolute;
            left: 0;
            width: 100%;
            top: 9px;
            color: $gray-400;
            @include transition(.3s);
            z-index: -1;
            letter-spacing: .5px;
        }
        &:focus {
            ~.focus-border {
                width: 100%;
                @include transition(.4s);
            }
            ~label {
                top: -1rem;
                font-size: .75rem;
                color: $blue;
                @include transition(.3s);
            }
        }
        &.effect-2 {
            ~.focus-border {
                left: 50%;
            }
            &:focus {
                ~.focus-border {
                    left: 0;
                }
            }
        }
        &.effect-3 {
            ~.focus-border {
                width: 100%;
                z-index: 99;
                background-color: transparent;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: $blue;
                    @include transition(.4s);
                }
                &:after {
                    left: auto;
                    right: 0;
                }
            }
            &:focus {
                ~.focus-border {
                    &:before,
                    &:after {
                        width: 50%;
                        @include transition(.4s);
                    }
                }
            }
        }
    }
}
