.bg-primary {
  stroke: #0088cc; }

.bg-secondary {
  stroke: #6c757d; }

.bg-success {
  stroke: #4caf50; }

.bg-info {
  stroke: #17a2b8; }

.bg-warning {
  stroke: #ffc107; }

.bg-danger {
  stroke: #e36159; }

.bg-light {
  stroke: #f8f9fa; }

.bg-dark {
  stroke: #343a40; }

.progress-rounded {
  border-radius: 1.25rem; }

.progress-horizontal-bar {
  background-color: #e9ecef; }
  .progress-horizontal-bar .bar {
    position: relative;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
    -webkit-animation: skillbar 3s linear forwards;
    -moz-animation: skillbar 3s linear forwards;
    -o-animation: skillbar 3s linear forwards;
    animation: skillbar 3s linear forwards; }
    .progress-horizontal-bar .bar span {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -1.875rem;
      -webkit-animation: barvalue 1s linear forwards;
      -moz-animation: barvalue 1s linear forwards;
      -o-animation: barvalue 1s linear forwards;
      animation: barvalue 1s linear forwards;
      animation-delay: 3s;
      opacity: 0; }

.circular-progress-bar {
  position: relative;
  display: inline-block; }
  .circular-progress-bar:after {
    position: absolute;
    font-weight: 600;
    text-align: center;
    color: #adb5bd;
    font-size: 1.5rem;
    width: 100%;
    left: 0;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: attr(data-percent) "%";
    top: 50%; }
  .circular-progress-bar .circle {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .circular-progress-bar .circle .progress-meter,
    .circular-progress-bar .circle .progress-value {
      fill: none; }
    .circular-progress-bar .circle .progress-meter {
      stroke: #e9ecef; }
    .circular-progress-bar .circle .progress-value {
      stroke-linecap: round;
      -moz-transition: 0.3s all linear;
      -o-transition: 0.3s all linear;
      -webkit-transition: 0.3s all linear;
      transition: 0.3s all linear;
      -webkit-animation: lefttoright 3s linear forwards;
      -moz-animation: lefttoright 3s linear forwards;
      -o-animation: lefttoright 3s linear forwards;
      animation: lefttoright 3s linear forwards; }

@-webkit-keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@-moz-keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@-o-keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@keyframes lefttoright {
  0% {
    stroke-dashoffset: 446.106; } }
@-webkit-keyframes skillbar {
  0% {
    width: 0%; } }
@-moz-keyframes skillbar {
  0% {
    width: 0%; } }
@-o-keyframes skillbar {
  0% {
    width: 0%; } }
@keyframes skillbar {
  0% {
    width: 0%; } }
@-webkit-keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes barvalue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=progressbar.css.map */
