@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

@mixin stroke-color($active-background: $color) {
    stroke: $active-background;
}
@each $color,
$value in $theme-colors {
    .bg-#{$color} {
        @include stroke-color($value);
    }
}
.progress-rounded {
    border-radius: 1.25rem;
}

.progress-horizontal-bar {
    background-color: $gray-200;
    .bar {
        position: relative;
        @include transition(.2s linear all);
        @include animation(skillbar 3s linear forwards);
        span {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: -1.875rem;
            @include animation(barvalue 1s linear forwards);
            animation-delay: 3s;
            opacity: 0;
        }
    }
}

.circular-progress-bar {
    position: relative;
    display: inline-block;
    &:after {
        position: absolute;
        font-weight: 600;
        text-align: center;
        color: $gray-500;
        font-size: 1.5rem;
        width: 100%;
        left: 0;
        @include transform(translate(0, -50%));
        content: attr(data-percent) '%';
        top: 50%;
    }
    .circle {
        @include transform(rotate(-90deg));
        .progress-meter,
        .progress-value {
            fill: none;
        }
        .progress-meter {
            stroke: $gray-200;
        }
        .progress-value {
            stroke-linecap: round;
            @include transition(.3s all linear);
            @include animation(lefttoright 3s linear forwards);
        }
    }
}
@include keyframes(lefttoright) {
    0% {
        stroke-dashoffset: 446.106;
    }
}

@include keyframes(skillbar) {
    0% {
        width: 0%;
    }
}

@include keyframes(barvalue) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
