.border-primary ~ .focus-border {
  background-color: #0088cc; }
  .border-primary ~ .focus-border:before, .border-primary ~ .focus-border:after {
    background-color: #0088cc; }
.border-primary:focus ~ label, .border-primary:valid ~ label {
  color: #0088cc !important; }

.check-primary label:before {
  border-color: #0088cc !important; }
.check-primary label:after {
  color: #0088cc; }
.check-primary input:checked + label.radio-fill:after {
  background-color: #0088cc; }

.toggle-primary .slider {
  border-color: #0088cc !important; }
  .toggle-primary .slider:before {
    background-color: #0088cc; }
.toggle-primary input:checked + .slider {
  background-color: #0088cc;
  border-color: #0088cc; }

.border-secondary ~ .focus-border {
  background-color: #6c757d; }
  .border-secondary ~ .focus-border:before, .border-secondary ~ .focus-border:after {
    background-color: #6c757d; }
.border-secondary:focus ~ label, .border-secondary:valid ~ label {
  color: #6c757d !important; }

.check-secondary label:before {
  border-color: #6c757d !important; }
.check-secondary label:after {
  color: #6c757d; }
.check-secondary input:checked + label.radio-fill:after {
  background-color: #6c757d; }

.toggle-secondary .slider {
  border-color: #6c757d !important; }
  .toggle-secondary .slider:before {
    background-color: #6c757d; }
.toggle-secondary input:checked + .slider {
  background-color: #6c757d;
  border-color: #6c757d; }

.border-success ~ .focus-border {
  background-color: #47b475; }
  .border-success ~ .focus-border:before, .border-success ~ .focus-border:after {
    background-color: #47b475; }
.border-success:focus ~ label, .border-success:valid ~ label {
  color: #47b475 !important; }

.check-success label:before {
  border-color: #47b475 !important; }
.check-success label:after {
  color: #47b475; }
.check-success input:checked + label.radio-fill:after {
  background-color: #47b475; }

.toggle-success .slider {
  border-color: #47b475 !important; }
  .toggle-success .slider:before {
    background-color: #47b475; }
.toggle-success input:checked + .slider {
  background-color: #47b475;
  border-color: #47b475; }

.border-info ~ .focus-border {
  background-color: #17a2b8; }
  .border-info ~ .focus-border:before, .border-info ~ .focus-border:after {
    background-color: #17a2b8; }
.border-info:focus ~ label, .border-info:valid ~ label {
  color: #17a2b8 !important; }

.check-info label:before {
  border-color: #17a2b8 !important; }
.check-info label:after {
  color: #17a2b8; }
.check-info input:checked + label.radio-fill:after {
  background-color: #17a2b8; }

.toggle-info .slider {
  border-color: #17a2b8 !important; }
  .toggle-info .slider:before {
    background-color: #17a2b8; }
.toggle-info input:checked + .slider {
  background-color: #17a2b8;
  border-color: #17a2b8; }

.border-warning ~ .focus-border {
  background-color: #ffc107; }
  .border-warning ~ .focus-border:before, .border-warning ~ .focus-border:after {
    background-color: #ffc107; }
.border-warning:focus ~ label, .border-warning:valid ~ label {
  color: #ffc107 !important; }

.check-warning label:before {
  border-color: #ffc107 !important; }
.check-warning label:after {
  color: #ffc107; }
.check-warning input:checked + label.radio-fill:after {
  background-color: #ffc107; }

.toggle-warning .slider {
  border-color: #ffc107 !important; }
  .toggle-warning .slider:before {
    background-color: #ffc107; }
.toggle-warning input:checked + .slider {
  background-color: #ffc107;
  border-color: #ffc107; }

.border-danger ~ .focus-border {
  background-color: #e36159; }
  .border-danger ~ .focus-border:before, .border-danger ~ .focus-border:after {
    background-color: #e36159; }
.border-danger:focus ~ label, .border-danger:valid ~ label {
  color: #e36159 !important; }

.check-danger label:before {
  border-color: #e36159 !important; }
.check-danger label:after {
  color: #e36159; }
.check-danger input:checked + label.radio-fill:after {
  background-color: #e36159; }

.toggle-danger .slider {
  border-color: #e36159 !important; }
  .toggle-danger .slider:before {
    background-color: #e36159; }
.toggle-danger input:checked + .slider {
  background-color: #e36159;
  border-color: #e36159; }

.border-light ~ .focus-border {
  background-color: #f8f9fa; }
  .border-light ~ .focus-border:before, .border-light ~ .focus-border:after {
    background-color: #f8f9fa; }
.border-light:focus ~ label, .border-light:valid ~ label {
  color: #f8f9fa !important; }

.check-light label:before {
  border-color: #f8f9fa !important; }
.check-light label:after {
  color: #f8f9fa; }
.check-light input:checked + label.radio-fill:after {
  background-color: #f8f9fa; }

.toggle-light .slider {
  border-color: #f8f9fa !important; }
  .toggle-light .slider:before {
    background-color: #f8f9fa; }
.toggle-light input:checked + .slider {
  background-color: #f8f9fa;
  border-color: #f8f9fa; }

.border-dark ~ .focus-border {
  background-color: #212529; }
  .border-dark ~ .focus-border:before, .border-dark ~ .focus-border:after {
    background-color: #212529; }
.border-dark:focus ~ label, .border-dark:valid ~ label {
  color: #212529 !important; }

.check-dark label:before {
  border-color: #212529 !important; }
.check-dark label:after {
  color: #212529; }
.check-dark input:checked + label.radio-fill:after {
  background-color: #212529; }

.toggle-dark .slider {
  border-color: #212529 !important; }
  .toggle-dark .slider:before {
    background-color: #212529; }
.toggle-dark input:checked + .slider {
  background-color: #212529;
  border-color: #212529; }

.input-effect {
  position: relative; }
  .input-effect input,
  .input-effect textarea {
    width: 100%; }
    .input-effect input:focus,
    .input-effect textarea:focus {
      outline: 0; }
  .input-effect textarea {
    resize: none; }
  .input-effect label {
    font-size: .875rem; }
  .input-effect .effect {
    border: 0;
    padding: .25rem 0;
    border-bottom: 1px solid #dee2e6;
    background-color: transparent; }
    .input-effect .effect ~ .focus-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .input-effect .effect ~ label {
      position: absolute;
      left: 0;
      width: 100%;
      top: 9px;
      color: #ced4da;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      pointer-events: none;
      letter-spacing: .5px; }
    .input-effect .effect:focus ~ .focus-border, .input-effect .effect:valid ~ .focus-border {
      width: 100%;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .input-effect .effect:focus ~ label, .input-effect .effect:valid ~ label {
      top: -1rem;
      font-size: .8rem;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      font-weight: bold; }
    .input-effect .effect.effect-2 ~ .focus-border {
      left: 50%; }
    .input-effect .effect.effect-2:focus ~ .focus-border, .input-effect .effect.effect-2:valid ~ .focus-border {
      left: 0; }
    .input-effect .effect.effect-3 ~ .focus-border {
      width: 100%;
      z-index: 99;
      background-color: transparent; }
      .input-effect .effect.effect-3 ~ .focus-border:before, .input-effect .effect.effect-3 ~ .focus-border:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .input-effect .effect.effect-3 ~ .focus-border:after {
        left: auto;
        right: 0; }
    .input-effect .effect.effect-3:focus ~ .focus-border:before, .input-effect .effect.effect-3:focus ~ .focus-border:after, .input-effect .effect.effect-3:valid ~ .focus-border:before, .input-effect .effect.effect-3:valid ~ .focus-border:after {
      width: 50%;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s; }

.input-area {
  display: flex; }
  .input-area .effect {
    height: 2.0625rem;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .input-area .effect:focus, .input-area .effect:valid {
      height: 4rem; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; }

.square-box {
  padding: .907rem 1rem;
  border-radius: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  font-weight: 600;
  height: auto !important; }

.select-box-with-bottom-border {
  background-color: transparent;
  border-width: 0 0 2px 0; }
  .select-box-with-bottom-border:focus {
    box-shadow: none; }

.pretty-input input:checked, .pretty-input input:not(:checked) {
  position: absolute;
  left: -9999px; }
.pretty-input label {
  position: relative;
  padding-left: 1.875rem;
  font-size: .875rem;
  cursor: pointer; }
  .pretty-input label.circle-input:before, .pretty-input label.circle-input:after {
    border-radius: 50%; }
  .pretty-input label:before, .pretty-input label:after {
    font-family: 'themify';
    font-size: 1.875rem;
    position: absolute;
    top: 50%;
    left: 0;
    line-height: .75;
    margin-top: -0.75rem; }
  .pretty-input label:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid;
    display: block;
    border-radius: .2rem; }
  .pretty-input label:after {
    content: '\e64c';
    max-width: 0;
    overflow: hidden;
    opacity: .5;
    -moz-transition: 0.35s all linear;
    -o-transition: 0.35s all linear;
    -webkit-transition: 0.35s all linear;
    transition: 0.35s all linear;
    margin-top: -0.90909rem;
    margin-left: .1rem; }
  .pretty-input label.radio-fill:after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    max-width: 100%;
    margin-left: 0;
    margin-top: -0.75rem; }
  .pretty-input label .radio-check {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2; }
    .pretty-input label .radio-check:before {
      content: '\f26b';
      font-family: 'Material-Design-Iconic-Font';
      max-width: 0;
      opacity: .5;
      overflow: hidden;
      color: #fff;
      -moz-transition: 0.5s all linear;
      -o-transition: 0.5s all linear;
      -webkit-transition: 0.5s all linear;
      transition: 0.5s all linear;
      display: inline-block;
      transition-delay: .15s;
      font-size: 1.1rem;
      vertical-align: middle;
      line-height: 1.3; }
.pretty-input input:checked + label:after {
  max-width: 3rem;
  opacity: 1; }
.pretty-input input:checked + label .radio-check:before {
  max-width: 3rem;
  opacity: 1; }

.toggle {
  width: 50px;
  height: 24px;
  position: relative;
  display: inline-block; }
  .toggle .slider {
    background-color: #fff; }
    .toggle .slider:before {
      width: 18px;
      height: 18px; }
  .toggle .slider {
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    border: 1px solid; }
    .toggle .slider:before {
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      transition: all 0.4s linear;
      position: absolute;
      content: "";
      left: 2px;
      bottom: 2px;
      border-radius: 50%; }
  .toggle input {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
    bottom: 0; }
    .toggle input:checked + .slider {
      border: 1px solid; }
      .toggle input:checked + .slider:before {
        -moz-transform: translateX(26px);
        -o-transform: translateX(26px);
        -ms-transform: translateX(26px);
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
        background-color: #fff; }

/*# sourceMappingURL=form-input.css.map */
