@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

@mixin focus-color($active-color: $color) {
    ~.focus-border {
        background-color: $active-color;
        &:before,
        &:after {
            background-color: $active-color;
        }
    }
    &:focus,
    &:valid {
        ~label {
            color: $active-color !important;
        }
    }
    +.select-icon {
        color: $active-color !important;
    }
    .toggle-icon {
        color: $active-color;
    }
    .toggle-btn {
        border-color: $active-color !important;
    }
    &.open {
        .toggle-btn {
            background-color: $active-color !important;
        }
    }
}

//check-box 
@mixin check-color($active-color: $color) {
    label {
        &:before {
            border-color: $active-color !important;
        }
        &:after {
            color: $active-color;
        }
    }
    input:checked {
        +label {
            &.radio-fill {
                &:after {
                    background-color: $active-color;
                }
            }
        }
    }
}

@mixin toggle-color($active-color: $color) {
    .slider {
        border-color: $active-color !important;
        &:before {
            background-color: $active-color;
        }
    }
    input {
        &:checked {
            +.slider {
                background-color: $active-color;
                border-color: $active-color;
            }
        }
    }
}


@each $color,
$value in $theme-colors {
    .border-#{$color} {
        @include focus-color($value);
    }
    .check-#{$color} {
        @include check-color($value);
    }
    .toggle-#{$color} {
        @include toggle-color($value);
    }
}

.input-effect {
    position: relative;
    input,
    textarea {
        width: 100%;
        &:focus {
            outline: 0;
        }
    }
    textarea {
        resize: none;
    }
    label {
        font-size: .875rem;
    }
    .effect {
        border: 0;
        padding: .25rem 0;
        border-bottom: 1px solid $gray-300;
        background-color: transparent;
        ~.focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            @include transition(.4s);
        }
        ~label {
            position: absolute;
            left: 0;
            width: 100%;
            top: 9px;
            color: $gray-400;
            @include transition(.3s); //z-index: -1;
            pointer-events: none;
            letter-spacing: .5px;
        }
        &:focus,
        &:valid {
            ~.focus-border {
                width: 100%;
                @include transition(.4s);
            }
            ~label {
                top: -1rem;
                font-size: .8rem;
                @include transition(.3s);
                font-weight: bold;
            }
        }
        &.effect-2 {
            ~.focus-border {
                left: 50%;
            }
            &:focus,
            &:valid {
                ~.focus-border {
                    left: 0;
                }
            }
        }
        &.effect-3 {
            ~.focus-border {
                width: 100%;
                z-index: 99;
                background-color: transparent;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    @include transition(.4s);
                }
                &:after {
                    left: auto;
                    right: 0;
                }
            }
            &:focus,
            &:valid {
                ~.focus-border {
                    &:before,
                    &:after {
                        width: 50%;
                        @include transition(.4s);
                    }
                }
            }
        }
    }
}

.input-area {
    display: flex;
    .effect {
        height: 2.0625rem;
        @include transition(.4s);
        &:focus,
        &:valid {
            height: 4rem;
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

.square-box {
    padding: .907rem 1rem;
    border-radius: 0;
    font-size: .75rem;
    background-color: $gray-200;
    font-weight: $font-weight-medium;
    height: auto !important;
}

.selectbox {
    position: relative;
    overflow: hidden;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
    .select-icon {
        position: absolute;
        top: 50%;
        right: .75rem;
        font-size: 1rem;
        margin-top: -.5rem;
        pointer-events: none;
    }
}

.select-box-with-bottom-border {
    background-color: transparent;
    border-width: 0 0 2px 0;
    &:focus {
        box-shadow: none;
    }
}

.drodown-menu {
    position: relative;
    .toggle-btn {
        position: relative;
        border-color: $gray-200;
        .toggle-icon {
            position: absolute;
            right: .5rem;
            top: 50%;
            margin-top: -.4375rem;
            &.zmdi {
                font-size: 1.5em;
                line-height: inherit;
                top: 0;
                margin-top: 0;
            }
        }
        @include hover-focus-active {
            box-shadow: none !important;
        }
    }
    .drodown-option {
        background-color: $white;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
        border-bottom: none;
        list-style: none;
        @include transition(all .3s linear);
        max-height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 11;
        li {
            a {
                display: block;
                padding: .625rem;
                @include transition(all .3s linear);
                border-bottom: 1px solid $gray-200;
                color: $gray-600;
                span {
                    padding-right: .25rem;
                }
            }
            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
        }
    }
    &.open {
        .toggle-btn {
            color: $white;
            background-color: $gray-600;
            .toggle-icon {
                color: $white;
            }
        }
        .drodown-option {
            max-height: 400px;
            border-bottom: 1px solid $gray-200;
        }
    }
}

$box-size: 1.5rem;
.pretty-input {
    input {
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;
        }
    }
    label {
        position: relative;
        padding-left: 1.875rem;
        font-size: .875rem;
        cursor: pointer;
        &.circle-input {
            &:before,
            &:after {
                border-radius: 50%;
            }
        }
        &:before,
        &:after {
            font-family: 'themify';
            font-size: ($box-size * 1.25);
            position: absolute;
            top: 50%;
            left: 0;
            line-height: .75;
            margin-top: -$box-size/2;
        }
        &:before {
            content: '';
            @include size($box-size);
            border: 2px solid;
            display: block;
            border-radius: .2rem;
        }
        &:after {
            content: '\e64c';
            max-width: 0;
            overflow: hidden;
            opacity: .5;
            @include transition(.35s all linear);
            margin-top: -#{$box-size/1.65};
            margin-left: .1rem;
        }
        &.radio-fill {
            &:after {
                content: '';
                @include size($box-size);
                max-width: 100%;
                margin-left: 0;
                margin-top: -$box-size/2;
            }
        }
        .radio-check {
            position: absolute;
            @include size($box-size);
            border-radius: 50%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 2;
            &:before {
                content: '\f26b';
                font-family: 'Material-Design-Iconic-Font';
                max-width: 0;
                opacity: .5;
                overflow: hidden;
                color: $white;
                @include transition(.5s all linear);
                display: inline-block;
                transition-delay: .15s;
                font-size: 1.1rem;
                vertical-align: middle;
                line-height: 1.3;
            }
        }
    }
    input {
        &:checked {
            +label {
                &:after {
                    max-width: $box-size * 2;
                    opacity: 1;
                }
                .radio-check {
                    &:before {
                        max-width: $box-size * 2;
                        opacity: 1;
                    }
                }
            }
        }
    }
}



@mixin toggle-btn($width, $height, $circle-w, $circle-h, $bg-color) {
    width: $width;
    height: $height;
    .slider {
        background-color: $bg-color;
        &:before {
            width: $circle-w;
            height: $circle-h;
        }
    }
}

.toggle {
    @include toggle-btn(50px, 24px, 18px, 18px, $white);
    position: relative;
    display: inline-block;
    .slider {
        @include transition(all .4s linear);
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        border: 1px solid;
        &:before {
            @include transition(all .4s linear);
            position: absolute;
            content: "";
            left: 2px;
            bottom: 2px;
            border-radius: 50%;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        height: 1px;
        width: 1px;
        bottom: 0;
        &:checked {
            +.slider {
                border: 1px solid;
                &:before {
                    @include transform(translateX(26px));
                    background-color: $white;
                }
            }
        }
    }
}

.input-with-icon {
    position: relative;
    .form-control {
        padding-right: 3rem;
    }
    .icon {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 3.0625rem;
        color: $gray-600;
        width: 3rem;
        text-align: center;
    }
}
