@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

@mixin focus-color($active-color: $color) {
    ~.focus-border {
        background-color: $active-color;
        &:before,
        &:after {
            background-color: $active-color;
        }
    }
    &:focus,
    &:not(:placeholder-shown) {
        ~label {
            color: $active-color !important;
        }
    }
}

//check-box 
@mixin check-color($active-color: $color) {
    label {
        &:before {
            border-color: $active-color !important;
        }
        &:after {
            color: $active-color;
        }
    }
    input:checked {
        +label {
            &.radio-fill {
                &:after {
                    background-color: $active-color;
                }
            }
        }
    }
}

@each $color,
$value in $theme-colors {
    .border-#{$color} {
        @include focus-color($value);
    }
    .check-#{$color} {
        @include check-color($value);
    }
}

.input-effect {
    position: relative;
    input,
    textarea {
        width: 100%;
        &:focus {
            outline: 0;
        }
    }
    textarea {
        resize: none;
    }
    label {
        font-size: .875rem;
    }
    .effect {
        border: 0;
        padding: .25rem 0;
        border-bottom: 1px solid $gray-300;
        background-color: transparent;
        ~.focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            @include transition(.4s);
        }
        ~label {
            position: absolute;
            left: 0;
            width: 100%;
            top: 9px;
            color: $gray-400;
            @include transition(.3s);
            z-index: -1;
            letter-spacing: .5px;
        }
        &:focus,
        &:not(:placeholder-shown) {
            ~.focus-border {
                width: 100%;
                @include transition(.4s);
            }
            ~label {
                top: -1rem;
                font-size: .8rem;
                @include transition(.3s);
                font-weight: bold;
            }
        }
        &.effect-2 {
            ~.focus-border {
                left: 50%;
            }
            &:focus,
            &:not(:placeholder-shown) {
                ~.focus-border {
                    left: 0;
                }
            }
        }
        &.effect-3 {
            ~.focus-border {
                width: 100%;
                z-index: 99;
                background-color: transparent;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    @include transition(.4s);
                }
                &:after {
                    left: auto;
                    right: 0;
                }
            }
            &:focus,
            &:not(:placeholder-shown) {
                ~.focus-border {
                    &:before,
                    &:after {
                        width: 50%;
                        @include transition(.4s);
                    }
                }
            }
        }
    }
}

.input-area {
    .effect {
        height: 2.0625rem;
        @include transition(.4s);
        ~.focus-border {
            margin-bottom: 5px;
        }
        &:focus,
        &:not(:placeholder-shown) {
            height: 4rem;
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


$box-size: 1.25rem;
.pretty-input {
    input {
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;
        }
    }
    label {
        position: relative;
        padding-left: 1.875rem;
        font-size: .875rem;
        cursor: pointer;
        &.circle-input {
            &:before,
            &:after {
                border-radius: 50%;
            }
        }
        &:before,
        &:after {
            font-family: 'themify';
            font-size: ($box-size * 1.25);
            position: absolute;
            top: 50%;
            left: 0;
            line-height: .75;
            margin-top: -$box-size/2;
        }
        &:before {
            content: '';
            @include size($box-size);
            border: 2px solid;
            display: block;
            border-radius: .2rem;
        }
        &:after {
            content: '\e64c';
            max-width: 0;
            overflow: hidden;
            opacity: .5;
            @include transition(.35s all linear);
            margin-top: -#{$box-size/1.65};
            margin-left: .1rem;
        }
        &.radio-fill {
            &:after {
                content: '';
                @include size($box-size);
                max-width: 100%;
                margin-left: 0;
                margin-top: -$box-size/2;
            }
        }
        .radio-check i {
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            margin-left: 5px;
            margin-top: 4px;
            max-width: 0;
            opacity: .5;
            overflow: hidden;
            @include transition(.6s all linear);
            color: $white;
            z-index: 1;
        }
    }
    input {
        &:checked {
            +label {
                &:after {
                    max-width: $box-size * 2;
                    opacity: 1;
                }
                .radio-check i{
                    opacity: 1;
                    max-width: 1.25rem;
                }
            }
        }
    }
}
