.btn-thick {
  border-width: 2px;
  padding: 0.75rem 2rem;
  font-weight: 600;
  position: relative;
  margin-bottom: .5rem; }

.btn-outline-primary:after {
  background-color: #0088cc; }

.btn-outline-secondary:after {
  background-color: #6c757d; }

.btn-outline-success:after {
  background-color: #4caf50; }

.btn-outline-info:after {
  background-color: #17a2b8; }

.btn-outline-warning:after {
  background-color: #ffc107; }

.btn-outline-danger:after {
  background-color: #e36159; }

.btn-outline-light:after {
  background-color: #f8f9fa; }

.btn-outline-dark:after {
  background-color: #343a40; }

.btn-slide {
  overflow: hidden; }
  .btn-slide:after {
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: 0; }
  .btn-slide:hover, .btn-slide:focus, .btn-slide:active {
    background-color: transparent !important; }
    .btn-slide:hover:after, .btn-slide:focus:after, .btn-slide:active:after {
      height: 100%; }
  .btn-slide.slide-1:after {
    width: 0%; }
  .btn-slide.slide-1:hover:after, .btn-slide.slide-1:focus:after, .btn-slide.slide-1:active:after {
    width: 100%; }
  .btn-slide.slide-2:after {
    width: 0%;
    height: 100%; }
  .btn-slide.slide-2:hover:after, .btn-slide.slide-2:focus:after, .btn-slide.slide-2:active:after {
    width: 100%; }
  .btn-slide.slide-3:after {
    width: 0%;
    height: 100%;
    opacity: 0;
    right: 0;
    margin: auto; }
  .btn-slide.slide-3:hover:after, .btn-slide.slide-3:focus:after, .btn-slide.slide-3:active:after {
    width: 90%;
    opacity: 1; }
  .btn-slide.slide-4:after {
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 110%;
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
  .btn-slide.slide-4:hover:after, .btn-slide.slide-4:focus:after, .btn-slide.slide-4:active:after {
    height: 160%;
    opacity: 1; }
  .btn-slide.slide-5:after {
    opacity: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .btn-slide.slide-5:hover:after, .btn-slide.slide-5:focus:after, .btn-slide.slide-5:active:after {
    height: 80%;
    opacity: 1; }

.btn-primary:before, .btn-primary:hover {
  background-color: #006699; }

.btn-secondary:before, .btn-secondary:hover {
  background-color: #545b62; }

.btn-success:before, .btn-success:hover {
  background-color: #3d8b40; }

.btn-info:before, .btn-info:hover {
  background-color: #117a8b; }

.btn-warning:before, .btn-warning:hover {
  background-color: #d39e00; }

.btn-danger:before, .btn-danger:hover {
  background-color: #dc372d; }

.btn-light:before, .btn-light:hover {
  background-color: #dae0e5; }

.btn-dark:before, .btn-dark:hover {
  background-color: #1d2124; }

.btn-with-icon {
  padding-left: 4.8125rem;
  border-width: 0; }
  .btn-with-icon:before {
    content: " ";
    position: absolute;
    width: 2.81250rem;
    height: 100%;
    left: 0;
    top: 0;
    display: inline-block; }
  .btn-with-icon .btn-icon {
    text-align: center;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    width: 2.81250rem;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .btn-with-icon:hover .btn-icon {
    margin-left: .3125rem; }

/*# sourceMappingURL=button.css.map */
