.btn-thick {
  border-width: 2px;
  padding: 0.75rem 2rem;
  font-weight: 600;
  position: relative;
  margin-bottom: .5rem; }

.btn-rounded {
  border-radius: 3.125rem; }

.btn-min-w {
  min-width: 12rem; }

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff; }
  .btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
    background-color: #fff;
    color: #000; }

.btn-effect {
  overflow: hidden; }
  .btn-effect.btn-outline-primary:after {
    background-color: #26ade4; }
  .btn-effect.btn-outline-secondary:after {
    background-color: #6c757d; }
  .btn-effect.btn-outline-success:after {
    background-color: #47b475; }
  .btn-effect.btn-outline-info:after {
    background-color: #17a2b8; }
  .btn-effect.btn-outline-warning:after {
    background-color: #ffc107; }
  .btn-effect.btn-outline-danger:after {
    background-color: #e36159; }
  .btn-effect.btn-outline-light:after {
    background-color: #f8f9fa; }
  .btn-effect.btn-outline-dark:after {
    background-color: #212529; }
  .btn-effect.btn-outline-bluish-gray:after {
    background-color: #2c3e50; }
  .btn-effect:after {
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0; }
  .btn-effect span {
    z-index: 1;
    position: relative; }
  .btn-effect:hover, .btn-effect:focus, .btn-effect:active {
    background-color: transparent !important; }
    .btn-effect:hover:after, .btn-effect:focus:after, .btn-effect:active:after {
      height: 100%; }
  .btn-effect.effect-1:after {
    width: 0%; }
  .btn-effect.effect-1:hover:after, .btn-effect.effect-1:focus:after, .btn-effect.effect-1:active:after {
    width: 100%; }
  .btn-effect.effect-2:after {
    width: 0%;
    height: 100%; }
  .btn-effect.effect-2:hover:after, .btn-effect.effect-2:focus:after, .btn-effect.effect-2:active:after {
    width: 100%; }
  .btn-effect.effect-3:after {
    width: 0%;
    height: 100%;
    opacity: 0;
    right: 0;
    margin: auto; }
  .btn-effect.effect-3:hover:after, .btn-effect.effect-3:focus:after, .btn-effect.effect-3:active:after {
    width: 90%;
    opacity: 1; }
  .btn-effect.effect-4:after {
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 100%;
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
  .btn-effect.effect-4:hover:after, .btn-effect.effect-4:focus:after, .btn-effect.effect-4:active:after {
    height: 290%;
    opacity: 1; }
  .btn-effect.effect-5:after {
    opacity: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .btn-effect.effect-5:hover:after, .btn-effect.effect-5:focus:after, .btn-effect.effect-5:active:after {
    height: 80%;
    opacity: 1; }

.btn-effect-2 {
  padding-left: 4.8125rem;
  border-width: 0; }
  .btn-effect-2.btn-primary:before, .btn-effect-2.btn-primary:hover {
    background-color: #188fbf; }
  .btn-effect-2.btn-secondary:before, .btn-effect-2.btn-secondary:hover {
    background-color: #545b62; }
  .btn-effect-2.btn-success:before, .btn-effect-2.btn-success:hover {
    background-color: #398f5d; }
  .btn-effect-2.btn-info:before, .btn-effect-2.btn-info:hover {
    background-color: #117a8b; }
  .btn-effect-2.btn-warning:before, .btn-effect-2.btn-warning:hover {
    background-color: #d39e00; }
  .btn-effect-2.btn-danger:before, .btn-effect-2.btn-danger:hover {
    background-color: #dc372d; }
  .btn-effect-2.btn-light:before, .btn-effect-2.btn-light:hover {
    background-color: #dae0e5; }
  .btn-effect-2.btn-dark:before, .btn-effect-2.btn-dark:hover {
    background-color: #0a0c0d; }
  .btn-effect-2.btn-bluish-gray:before, .btn-effect-2.btn-bluish-gray:hover {
    background-color: #1a252f; }
  .btn-effect-2:before {
    content: " ";
    position: absolute;
    width: 2.81250rem;
    height: 100%;
    left: 0;
    top: 0;
    display: inline-block; }
  .btn-effect-2 .btn-icon {
    text-align: center;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    width: 2.81250rem;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .btn-effect-2:hover .btn-icon {
    margin-left: .3125rem; }

.btn-effect-3 {
  overflow: hidden;
  padding: .75rem 3rem; }
  .btn-effect-3 .btn-icon {
    left: 0;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: transparent;
    top: -100%; }
    .btn-effect-3 .btn-icon.icon-2e {
      left: -100%;
      top: 0; }
    .btn-effect-3 .btn-icon.icon-3e {
      top: 50%;
      left: auto;
      width: auto;
      opacity: 0;
      line-height: 0; }
      .btn-effect-3 .btn-icon.icon-3e.right {
        right: 0;
        margin-right: 1rem;
        -moz-transform: translate(300%, -50%);
        -o-transform: translate(300%, -50%);
        -ms-transform: translate(300%, -50%);
        -webkit-transform: translate(300%, -50%);
        transform: translate(300%, -50%); }
      .btn-effect-3 .btn-icon.icon-3e.left {
        left: 0;
        margin-left: 1rem;
        -moz-transform: translate(-300%, -50%);
        -o-transform: translate(-300%, -50%);
        -ms-transform: translate(-300%, -50%);
        -webkit-transform: translate(-300%, -50%);
        transform: translate(-300%, -50%); }
      .btn-effect-3 .btn-icon.icon-3e.rightin {
        right: 0;
        margin-right: 2rem;
        -moz-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%); }
      .btn-effect-3 .btn-icon.icon-3e.leftin {
        left: 0;
        margin-left: 2rem;
        -moz-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%); }
  .btn-effect-3.effect-1.btn-primary:hover {
    color: #26ade4;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-secondary:hover {
    color: #6c757d;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-success:hover {
    color: #47b475;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-info:hover {
    color: #17a2b8;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-warning:hover {
    color: #ffc107;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-danger:hover {
    color: #e36159;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-light:hover {
    color: #f8f9fa;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-dark:hover {
    color: #212529;
    background-color: transparent; }
  .btn-effect-3.effect-1.btn-bluish-gray:hover {
    color: #2c3e50;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-primary:hover {
    color: #26ade4;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-secondary:hover {
    color: #6c757d;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-success:hover {
    color: #47b475;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-info:hover {
    color: #17a2b8;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-warning:hover {
    color: #ffc107;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-danger:hover {
    color: #e36159;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-light:hover {
    color: #f8f9fa;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-dark:hover {
    color: #212529;
    background-color: transparent; }
  .btn-effect-3.effect-2.btn-outline-bluish-gray:hover {
    color: #2c3e50;
    background-color: transparent; }
  .btn-effect-3 .btn-text {
    display: inline-block;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .btn-effect-3:hover .btn-icon, .btn-effect-3:focus .btn-icon, .btn-effect-3:active .btn-icon {
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .btn-effect-3:hover .btn-icon.icon-2e, .btn-effect-3:focus .btn-icon.icon-2e, .btn-effect-3:active .btn-icon.icon-2e {
      left: 0; }
    .btn-effect-3:hover .btn-icon.icon-3e, .btn-effect-3:focus .btn-icon.icon-3e, .btn-effect-3:active .btn-icon.icon-3e {
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      opacity: 1; }
      .btn-effect-3:hover .btn-icon.icon-3e.rightin, .btn-effect-3:focus .btn-icon.icon-3e.rightin, .btn-effect-3:active .btn-icon.icon-3e.rightin {
        margin-right: 1rem; }
      .btn-effect-3:hover .btn-icon.icon-3e.leftin, .btn-effect-3:focus .btn-icon.icon-3e.leftin, .btn-effect-3:active .btn-icon.icon-3e.leftin {
        margin-left: 1rem; }
  .btn-effect-3:hover .btn-text, .btn-effect-3:focus .btn-text, .btn-effect-3:active .btn-text {
    -moz-transform: translateY(300%);
    -o-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
    opacity: 0; }
    .btn-effect-3:hover .btn-text.text-2e, .btn-effect-3:focus .btn-text.text-2e, .btn-effect-3:active .btn-text.text-2e {
      -moz-transform: translateX(300%);
      -o-transform: translateX(300%);
      -ms-transform: translateX(300%);
      -webkit-transform: translateX(300%);
      transform: translateX(300%); }
    .btn-effect-3:hover .btn-text.text-3e, .btn-effect-3:focus .btn-text.text-3e, .btn-effect-3:active .btn-text.text-3e {
      transform: none;
      opacity: 1; }

/*# sourceMappingURL=button.css.map */
