@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

// variables
$btn-border-width: 2px;
$btn-padding: .75rem 2rem;
$btn-rounded: 3.125rem;
$btn-min-width: 9.375rem;
// this class for square btn with thick border
.btn-thick {
    border-width: $btn-border-width;
    padding: $btn-padding;
    font-weight: 600;
    position: relative;
    margin-bottom: .5rem;
} // this class for rounded button
.btn-rounded {
    border-radius: $btn-rounded;
}

// this class for button fix-width
.btn-min-w {
    min-width: $btn-min-width;
}

// Effect-1
@mixin btn-effect($active-background: $color) {
    &:after {
        background-color: $active-background;
    }
}

.btn-effect {
    overflow: hidden;
    @each $color,
    $value in $theme-colors {
        &.btn-outline-#{$color} {
            @include btn-effect($value);
        }
    }
    &:after {
        @include transition(all .3s linear);
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
        left: 0;
        height: 0;
    }
    @include hover-focus-active {
        background-color: transparent !important;
        &:after {
            height: 100%;
        }
    }
    &.effect-1 {
        &:after {
            width: 0%;
        }
        @include hover-focus-active {
            &:after {
                width: 100%;
            }
        }
    }
    &.effect-2 {
        &:after {
            width: 0%;
            height: 100%;
        }
        @include hover-focus-active {
            &:after {
                width: 100%;
            }
        }
    }
    &.effect-3 {
        &:after {
            width: 0%;
            height: 100%;
            opacity: 0;
            right: 0;
            margin: auto;
        }
        @include hover-focus-active {
            &:after {
                width: 90%;
                opacity: 1;
            }
        }
    }
    &.effect-4 {
        &:after {
            opacity: 0;
            left: 50%;
            top: 50%;
            width: 110%;
            @include transform(translate(-50%, -50%)rotate(45deg));
        }
        @include hover-focus-active {
            &:after {
                height: 160%;
                opacity: 1;
            }
        }
    }
    &.effect-5 {
        &:after {
            opacity: 0;
            top: 50%;
            @include transform(translateY(-50%));
        }
        @include hover-focus-active {
            &:after {
                height: 80%;
                opacity: 1;
            }
        }
    }
}

//Effect-2
@mixin btn-effect-2($active-background: $color) {
    &:before,
    &:hover {
        background-color: darken($active-background, 10%);
    }
}

.btn-effect-2 {
    padding-left: 4.8125rem;
    border-width: 0;
    @each $color,
    $value in $theme-colors {
        &.btn-#{$color} {
            @include btn-effect-2($value);
        }
    }
    &:before {
        content: " ";
        position: absolute;
        width: 2.81250rem;
        height: 100%;
        left: 0;
        top: 0;
        display: inline-block;
    }
    .btn-icon {
        text-align: center;
        font-size: 1rem;
        position: absolute;
        left: 0;
        top: 50%;
        width: 2.81250rem;
        @include transition(all .2s ease-in-out);
        @include transform(translateY(-50%));
    }
    &:hover {
        .btn-icon {
            margin-left: .3125rem;
        }
    }
}

//Effect-3
@mixin btn-effect-3($active-background: $color) {
    &:hover {
        color: $active-background;
        background-color: transparent;
    }
}

.btn-effect-3 {
    overflow: hidden;
    &.effect-2 {
        @each $color,
        $value in $theme-colors {
            &.btn-outline-#{$color} {
                @include btn-effect-3($value);
            }
        }
    }
    &.effect-1 {
        @each $color,
        $value in $theme-colors {
            &.btn-#{$color} {
                @include btn-effect-3($value);
            }
        }
    }
    .btn-icon {
        left: 0;
        position: absolute;
        width: 100%;
        font-size: 1.5rem;
        @include transition(all .3s linear);
        background-color: transparent;
        top: -100%;
        &.icon-2 {
            left: -100%;
            top: 0;
        }
    }
    .btn-text {
        display: inline-block;
        @include transition(all .3s linear);
    }
    @include hover-focus-active {
        .btn-icon {
            top: 50%;
            @include transform(translateY(-50%));
            &.icon-2 {
                left: 0;
            }
        }
        .btn-text {
            @include transform(translateY(300%));
            &.text-2 {
                @include transform(translateX(300%));
            }
        }
    }
}
