@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

.mw-600 {
    max-width: 37.5rem;
    line-height: 1.5;
}

.banner {
    .banner-img {
        @include img-inbg;
        padding-bottom: 35%;
        min-height: 40rem;
        .services-banner {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            left: 0;
            right: 0;
            text-align: center;
            .banner-text {
                &:after {
                    content: '';
                    border-bottom: 2px solid $white;
                    display: block;
                    width: 20%;
                    margin: .9375rem auto;
                }
            }
            .services-desc {
                font-size: 1.2rem;
            }
        }
    }
}

.icon-with-box {
    .services-icon {
        font-size: 2rem;
    }
    .box-desc {
        line-height: 1.7;
        color: $gray-600;
    }
    .services-text {
        max-width: 335px;
        line-height: 1.5;
        color: $gray-600;
    }
}

.slider-section {
    @include img-inbg;
    .slide-icon {
        font-size: 5rem;
        color: $white;
        @include transition (.5s all ease-in-out);
        &:hover {
            color: $primary;
        }
    }
}

.our-services-section {
    .our-services-components {
        @include transition (all 0.3s ease 0s);
        .media-icon {
            font-size: 2rem;
        }
        .services-sub {
            color: $gray-600;
        }
        a {
            color: $primary;
        }
        &:hover {
            background-color: $primary;
            box-shadow: -.875rem .875rem 1.25rem 0px rgba($primary, .5);
            cursor: pointer;
            .media-icon,
            .services-sub,
            .our-title,
            .link-more {
                color: $white;
            }
        }
    }
}



//new-services-page
.features-section {
    .features-box {
        @include transition (all 0.3s ease 0s);
        .features-icon {
            font-size: 1.5rem;
            color: $gray-500;
        }
        p,
        span {
            color: $gray-600;
        }
        &:hover {
            background-color: $primary;
            box-shadow: -.875rem .875rem 1.25rem 0px rgba($primary, .5);
            cursor: pointer;
            p,
            span {
                color: $white;
            }
            .features-icon {
                color: $white;
            }
        }
    }
}
.sub-title{
        color: $gray-500;
    }
.our-offered-services-section {
    background-color: $gray-200;
    .our-services-title {
        font-size: 1.7rem;
    }
    
    .services-image {
        @include img-inbg;
        padding-bottom: 60%;
    }
    .our-services-desc {
        max-width: 310px;
        font-size: .875rem;
        color: $gray-500;
    }
}

@include media-breakpoint-down(md) {
    .our-offered-services-section {
         .our-services-desc {
            color: $gray-500;
            margin: 0 auto;
            max-width: 583px;
            font-size: 1.2rem;
        }
    }
}