@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

.mw-600 {
    max-width: 600px;
    line-height: 1.5;
}
.banner {
    .banner-img {
        @include img-inbg;
        height: 100vh;
        .services-banner {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            left: 0;
            right: 0;
            text-align: center;
            .services-desc {
                font-size: 1.2rem;
            }
        }
    }
}

.icon-with-box {
    .service-title {
        max-width: 600px;
        line-height: 1.5;
    }
    .services-icon {
        font-size: 2rem;
    }
    .box-desc {
        line-height: 1.7;
        color: $gray-600;
    }
}

.slider-section {
    background-color: lighten($gray-400, 10%);
    .slide-icon {
        width: 100px;
        opacity: .5;
        transition: all .5s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

.features-section {
    .features-box {
        transition: all 0.3s ease 0s;
        .features-icon {
            font-size: 1.5rem;
        }
        &:hover {
            background-color: $primary;
            box-shadow: -14.142px 14.142px 20px 0px rgba($primary, 0.5);
            cursor: pointer;
            p,
            span {
                color: $white;
            }
            .features-icon {
                color: $white;
            }
        }
    }
}