@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";



.testimonial-content {
    .testimonial-slider {
        position: relative;
        .desc {
            font-size: .875rem;
        }
        .monials-title {
            font-size: 1rem;
        }
        .image-circle {
            @include size(5rem);
            border: 1px solid $gray-400;
        }
        .next-btn {
            right: 0;
            margin-right: -1.875rem;
        }
        .prev-btn {
            left: 0;
            margin-left: -1.875rem;
        }
        .next-btn,
        .prev-btn {
            width: .9375rem;
            height: 1.875rem;
            background-size: .9375rem 1.875rem;
        }
    }
}

.testi-content {
    .banner-section {
        &:after {
            content: '';
            background-color: rgba($black, 0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        @include img-inbg;
    }
    .desc {
        font-size: 1.5rem;
    }
    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
    }
}

.testimonial {
    .monials {
        position: relative;
        border: 1px solid $gray-600;
    }
    .image {
        @include size(3.75rem);
        border: 1px solid $gray-500;
        position: absolute;
        top: 0%;
        left: 50%;
        @include transform (translate(0%, -50%));
        margin-left: -1.75rem;
    }
    .title {
        font-size: 1.2rem;
    }
    .sub-title {
        color: $gray-600;
        font-size: 1rem;
    }
    .desc {
        font-size: .875rem;
        color: $gray-600;
    }
}