@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";



.testimonial-content {
    position: relative;
}

.testi-content {
    // .text-centent {
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     @include transform (translate(-50%, -50%));
    // }
    .banner-section {
        &:after {
            content: '';
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        @include img-inbg;
    }
    .desc {
        font-size: 1.5rem;
    }
}