@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";

.services-section {
    .banner-img {
        .services-text {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            left: 0;
            right: 0;
            text-align: center;
        }
    }
    .breadcrumbs-seaction{
    	background-color: $gray-400;
    	line-height: 1.5;
    }
    .sub-title{
    	color: $gray-500;
    	font-size: .875rem;	
    }
    .testimonial{
    	.card{
    		border: 0;
    		background-color: $gray-200;
    	}
    	.round-img{
    		border: 0;
    	}
    }
}