@import "../../../css/scss/functions";
@import "../../../css/scss/variables";
@import "../../../css/scss/mixins";
.table-fixed {
    background-color: $gray-200;
    tbody {
        height: 200px;
        overflow-y: auto;
        width: 100%;
    }
    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }
    tbody {
        td {
            float: left;
        }
    }
    thead {
        tr {
            th {
                float: left;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .responsive-data-table {
        border: 0;
        table caption {
            font-size: 1.3em;
        }
        tbody {
            display: block;
            width: 100%;
        }
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        tr {
            border-bottom: 1px solid $gray-300;
            display: block;
            margin-bottom: .625em;
        }
        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
            &:last-child {
                border: 0;
            }
        }
    }
}

@mixin scrollbars($size, $foreground-color, $background-color) {
    // For Google Chrome
     ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $background-color;
    }
     ::-webkit-scrollbar-thumb {
        background-color: $foreground-color;
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.2);
    }
     ::-webkit-scrollbar-track {
        background-color: $background-color;
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    } // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}
.scroll {
	@include scrollbars(6px, $gray-300, $white);
}

